/* frontend/src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #f4f7f6;
  color: #333;
}

button:disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}